<div class="sign-in-container">
  <h2 class="sign-in-header">Member Login</h2>

  <form (ngSubmit)="onSubmit()" #signInForm="ngForm" class="sign-in-form">
    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-envelope"></i></span>
      <input
        type="email"
        required
        email="email"
        name="email"
        placeholder="Email"
      />
    </div>

    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-lock"></i></span>
      <input
        type="password"
        required
        password="password"
        name="password"
        placeholder="Password"
      />
    </div>

    <button type="submit" class="login-button">LOGIN</button>
  </form>

  <div class="create-account">
    <nav>
      <a routerLink="/register" routerLinkActive="active">Create your Account →</a>
    </nav>
  </div>
</div>