<div class="backdrop"></div>
<div class="sign-in-container">
  <h2 class="sign-in-header">Member Login</h2>
  <div *ngIf="loginFailed" class="alert alert-danger" [class.fade-in]="loginFailed">
    Please check your email or password.
  </div>
  <form [formGroup]="signInForm" (ngSubmit)="onLogin()" class="sign-in-form">
    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-envelope"></i></span>
      <input
        type="email"
        formControlName="email"
        required
        placeholder="Email"
      />
    </div>

    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-lock"></i></span>
      <input
        type="password"
        formControlName="password"
        required
        placeholder="Password"
      />
    </div>

    <button type="submit" class="login-button" [disabled]="signInForm.invalid">LOGIN</button>
  </form>

  <div class="create-account">
    <nav>
      <a routerLink="/register" routerLinkActive="active">Create your Account →</a>
    </nav>
  </div>
</div>