<div class="register-container">
  <h2 class="register-header">Create Account</h2>
  <div *ngIf="registerSuccess" class="alert alert-success">
    You have successfully registered.
    <a [routerLink]="['/sign-in']">Click here to login</a>.
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register-form">
    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-user"></i></span>
      <input
        type="text"
        id="name"
        formControlName="name"
        required
        placeholder="Enter Your Full Name"
      />
    </div>

    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-envelope"></i></span>
      <input
        type="email"
        id="email"
        formControlName="email"
        required
        placeholder="Email"
      />
    </div>

    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-phone"></i></span>
      <input
        type="tel"
        id="phoneNumber"
        formControlName="phoneNumber"
        required
        placeholder="Phone Number"
      />
    </div>

    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-lock"></i></span>
      <input
        type="password"
        id="password"
        formControlName="password"
        required
        placeholder="Password"
      />
    </div>

    <button
      type="submit"
      [disabled]="registerForm.invalid"
      class="register-button"
    >
      Register
    </button>
  </form>
</div>