<div class="register-container">
  <h2 class="register-header">Create Account</h2>

  <form (ngSubmit)="onRegister()" #registerForm="ngForm" class="register-form">
    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-user"></i></span>
      <input
        type="text"
        id="username"
        name="username"
        ngModel
        required
        placeholder="Username"
      />
    </div>

    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-envelope"></i></span>
      <input
        type="email"
        id="email"
        name="email"
        ngModel
        required
        placeholder="Email"
      />
    </div>

    <div class="input-wrapper">
      <span class="input-icon"><i class="fa fa-lock"></i></span>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        placeholder="Password"
      />
    </div>

    <button
      type="submit"
      [disabled]="!registerForm.form.valid"
      class="register-button"
    >
      Register
    </button>
  </form>
</div>